*, *::before, *::after {
  box-sizing: border-box;
}

html, body, .container {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

#left-column {
  flex: 1;
  max-width: 100%;  
}

#right-column {
  flex: 0 0 30%;
  max-width: 30%;
}

@media (max-width: 768px) {
  #left-column,
  #right-column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

svg {
  display: block;
  width: 200%;
  height: auto;
  cursor: pointer;
}

path:hover {
  fill: salmon;
  transition: fill 0.3s ease-in-out;
}

.tooltip {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  font-size: 14px;
  color: #333;
  border-radius: 4px;
  transition: opacity 0.3s ease-in-out;
}

.selected {
  fill: cyan;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

path {
  fill: #e0e0e0;
  stroke: #000;
  stroke-width: 0.5px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}
