<div>
    <table class="table-auto text-left">
      <thead class="text-xs uppercase whitespace-nowrap">
        <tr><th scope="col" class="country-property">Country:</th><td>{{ countryId }}</td></tr>
        <tr><th scope="col" class="country-property">Capital:</th><td>{{ countryCapital }}</td></tr>
        <tr><th scope="col" class="country-property">Region:</th><td>{{ countryRegion }}</td></tr>
        <tr><th scope="col" class="country-property">Income Level:</th><td>{{ countryIncomeLevel }}</td></tr>
        <tr><th scope="col" class="country-property">Latitude:</th><td>{{ countryLatitude }}</td></tr>
        <tr><th scope="col" class="country-property">Longitude:</th><td>{{ countryLongitude }}</td></tr>
      </thead>
    </table>
  </div>